.shopContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: f2a65a;

}

.productsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.productsTitle {
  font-family: "Playfair Display", serif;
  color: #d39865;
  margin-bottom: 24px;
}
.apiProductsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.productCard {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(
    0deg,
    #fdeedf 0%,
    #fcf9f6 30%,
    #ffffff 100%
  );
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}
.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.productCard img {
  max-width: 100%;
  object-fit: contain;
  max-height: 300px;
  background-color: transparent;
}

.productCard h2 {
  font-size: 1.5em;
  margin: 10px 0;
  font-family: "Playfair Display", serif;
}

.productCard .price {
  font-size: 1.3em;
  color: #d39865;
  font-family: "Playfair Display", serif;
}

.productCard .shopButton {
  background-color: #d39865;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 1px;
  font-family: "Playfair Display", serif;
}

.productCard .shopButton:hover {
  background-color: #b2824d;
}

.productCard .viewDescription {
  color: #d39865;
  border: 1px solid #d39865;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 1px;
  font-family: "Playfair Display", serif;
}

.viewDescription{
    margin-right: 5px;
}

.productCard .viewDescription:hover {
  background-color: #b2824d;
  color: white;
}

.productLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}