.mainCartContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartContainer {
  border: #ffc695 1.5px solid;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.cartTitle{
  font-size: 2rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #d39865;
  padding-bottom: 24px;
}

.productCartImage {
  max-width: 100%;
  object-fit: contain;
  max-height: min-content;
  height: 18vh;
  background-color: transparent;
}
.totalBox {
  display: flex;
  place-self: end;
  padding: 8px;
  color: #d39865;
  border-radius: 8px;
}

.cartSummary {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: auto;
}

.badge{
  background-color: white;
  color: #d39865;
  font-size:medium;
}


.checkoutButton {
  border-radius: 25px;
  padding: 8px 50px;
  background-color: #d39865;
  border-color: #d39865;
  color: white;
}
.checkoutButton:hover {
  background-color: #b2824d;
  border-color: #b2824d;
}
.keepShoppingButton {
  display: flex;
  align-self: flex-end;
  align-items: center;
  color: #d39865;
  padding: 18px 30px;
  text-decoration: none;
}
.keepShoppingButton:hover {
  color: #c97e3c;
}

.tableHead,
.tableData {
  vertical-align: middle;
  text-align: center;
}


.productCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
.productCartTitle {
  font-size: 1rem;
  width: 60%;
  margin: 10px 0 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #2b2a2a;
}

.trashButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
}

.trashButton:hover {
  color: #b2824d;
  transform: scale(1.1);
}
.cartContainer table {
  border-collapse: collapse;
}

.cartItem td {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 8px;
}

.cartItem:last-child td {
  border-bottom: none;
}
.quantityButton{
  border:none;
  color: #d39865;
  border-radius: 8px;
  margin: 0 3px;
  background-color: transparent;
}
@media (max-width: 768px) {
  .cartContainer {
    width: 90%;
  }
  .cartSummary {
    width:80%;
  }
  .productCartImage {
    height: 15vh;
  }
  .productCartTitle {
  font-size: 0.8rem;
  width: 100%;
  margin: 5px 0 0;

}
.tableHead{
  font-size: 0.9rem;
  font-weight: bold;
}
.tableData{
  font-size: 0.8rem;}
}

@media (max-width: 400px) {
  .cartContainer {
    width: 90%;
  }
  .cartSummary {
    width:90%;
  }
  .productCartImage {
    height: 10vh;
  }
  .productCartTitle {
  font-size: 0.6rem;
  width: 100%;
  margin: 5px 0 0;

}
.tableHead{
  font-size: 0.8rem;
  font-weight: lighter;
}
.tableData{
  font-size: 0.8rem;}
}